{% import "bootstrap/utils.html" as utils %}
{% extends "base.html" %}
{% block title %}Funcionário{% endblock %}
{% block body %}
<div class="content-section" id="gradient">
  <div class="outer">
    <div class="middle">
      <div class="inner">
        <br/>
        {{ utils.flashed_messages() }}
        <br/>
        <h1 style="text-align:center;">Funcionários</h1>
        {% if usuarios %}
          <hr class="intro-divider">
          <div class="center">

            <table class="table table-striped table-bordered">
              <thead>
                <tr>
                  <th width="30%">Nome </th>
                  <th width="40%"> Email </th>
                  <th width="15%"> Atualizar </th>
                  <th width="15%"> Excluir </th>
                </tr>
              </thead>
              <tbody>
              {% for usuario in usuarios %}
                <tr>
                  <td> {{ usuario.nome_u }} </td>
                  <td> {{ usuario.email_u }} </td>
                  
                  <td>
                    <a href="{{ url_for('admin.editar_usuario', id=usuario.id) }}">
                      <i class="fa fa-pencil"></i> Atualizar
                    </a>
                  </td>
                  <td>
                    <a href="{{ url_for('admin.excluir_usuario', id=usuario.id) }}">
                      <i class="fa fa-trash"></i> Excluir
                    </a>
                  </td>
                </tr>
                {% endfor %}
                </tbody>
              </table>
        
          </div>
          <div style="text-align: center">
        {% else %}
          <div style="text-align: center">
            <h3> Não há fucionários cadastrados </h3>
            <hr class="intro-divider">
        {% endif %}
          <a href="{{ url_for('admin.registrar') }}" class="btn btn-default btn-sm">
            <i class="fa fa-plus"></i>
            Cadastrar fucionário
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
