{% import "bootstrap/wtf.html" as wtf %}
{% extends "base.html" %}
{% block title %}
{% if registrar %}
        Cadastrar Funcionário
    {% else %}
        Editar Funcionário
 {% endif %}
{% endblock %}
{% block body %}
<div class="content-section" id="gradient">
 <div class="outer">
    <div class="middle">
      <div class="inner" >
        <div class="center" >
            {% if registrar %}
                <h1 style="text-align:center;">Adicionar Funcionário</h1>
                <br/>
                 {{ wtf.quick_form(form) }}
                <br/>
                 <a href="{{ request.referrer }}" class="btn btn-default btn-sm">
                 <i class="fa fa-backward "></i> Voltar </a><br/>
            {% else %}
                <h1 style="text-align:center;">Editar Funcionário</h1>
                <br/>
                 {{ wtf.quick_form(form) }}
                 <br/>
                 <a href="{{ request.referrer }}" class="btn btn-default btn-sm">
                 <i class="fa fa-backward "></i> Voltar </a><br/>
         
            {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
